## Preprocessing

In [1]:
# Import the necessary libraries
import pandas as pd
import requests
from io import StringIO

# URL of the CSV file
url = "https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv"

# Download the CSV file content using requests
response = requests.get(url)

# Check if the request was successful
if response.status_code == 200:
    # Read the CSV data from the response content
    application_df = pd.read_csv(StringIO(response.text))
    # Display the first few rows of the DataFrame
    print(application_df.head())
else:
    # Print an error message if the request failed
    print("Failed to download the CSV file")

        EIN                                      NAME APPLICATION_TYPE  \
0  10520599              BLUE KNIGHTS MOTORCYCLE CLUB              T10
1  10531628    AMERICAN CHESAPEAKE CLUB CHARITABLE TR               T3
2  10547893        ST CLOUD PROFESSIONAL FIREFIGHTERS               T5
3  10553066            SOUTHSIDE ATHLETIC ASSOCIATION               T3
4  10556103  GENETIC RESEARCH INSTITUTE OF THE DESERT               T3

        AFFILIATION CLASSIFICATION      USE_CASE  ORGANIZATION  STATUS  \
0       Independent          C1000    ProductDev   Association       1
1       Independent          C2000  Preservation  Co-operative       1
2  CompanySponsored          C3000    ProductDev   Association       1
3  CompanySponsored          C2000  Preservation         Trust       1
4       Independent          C1000     Heathcare         Trust       1

      INCOME_AMT SPECIAL_CONSIDERATIONS  ASK_AMT  IS_SUCCESSFUL
0              0                      N     5000              1
1         1-9999                      N   108590              1
2              0                      N     5000              0
3    10000-24999                      N     6692              1
4  100000-499999                      N   142590              1

In [2]:
# Drop the non-beneficial ID columns, 'EIN'.
application_df = application_df.drop(columns=['EIN'], axis=1)
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
type_counts = application_df['APPLICATION_TYPE'].value_counts()
type_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(type_counts.iloc[8:].index)
cutoff_value = 528

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classification_types = application_df['CLASSIFICATION'].value_counts()
classification_types

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classifications_cleaned = classification_types.loc[classification_types > 1]
classifications_cleaned

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_types.iloc[5:].index)
cutoff_value_classifications = 1883
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies = pd.get_dummies(application_df)
dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_1 DAY RANCH RESCUE AND RURAL OKLAHOMA ANIMAL RESOURCE INC,NAME_100 BLACK MEN OF AMERICA,NAME_100 BLACK MEN OF MEMPHIS INC,NAME_100 BLACK MEN OF WEST GEORGIA INC,NAME_1150 WEBSTER STREET INC,NAME_116TH CAVALRY REGIMENT CHAPTER OF THE US CAVALRY & ARMOR ASSOCIATION,NAME_13TH BOMB SQUADRON ASSOCIATION,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,True,False

In [10]:
#scratch work
application_df['IS_SUCCESSFUL'].values

array([1, 1, 0, ..., 0, 1, 0])

In [7]:
# Split our preprocessed data into our features and target arrays
import pandas as pd
from sklearn.model_selection import train_test_split

dummies = pd.DataFrame({'IS_SUCCESSFUL': [0, 1, 0, 1], 'Feature1': [0.1, 0.2, 0.3, 0.4], 'Feature2': [0.5, 0.6, 0.7, 0.8]})

# Splitting into features (X) and target (y)
y = dummies['IS_SUCCESSFUL'].values
X = dummies.drop(columns='IS_SUCCESSFUL').values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [10]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split


# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Transform the training and testing data using the scaler
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [13]:
import tensorflow as tf

# Define the model - deep neural net
input_features_total = len(X_train[0])
hidden_nodes_layer1 = 8
hidden_nodes_layer2 = 5

# Create a Sequential model
nn = tf.keras.models.Sequential()

# Add layers to the model
# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=input_features_total, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

2024-02-28 18:47:15.971857: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 24

 dense_1 (Dense)             (None, 5)                 45

 dense_2 (Dense)             (None, 1)                 6

=================================================================
Total params: 75 (300.00 Byte)
Trainable params: 75 (300.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [14]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [15]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
1/1 [==============================] - 5s 5s/step - loss: 0.6888 - accuracy: 0.6667
Epoch 2/100
1/1 [==============================] - 0s 11ms/step - loss: 0.6885 - accuracy: 0.6667
Epoch 3/100
1/1 [==============================] - 0s 20ms/step - loss: 0.6881 - accuracy: 0.6667
Epoch 4/100
1/1 [==============================] - 0s 18ms/step - loss: 0.6877 - accuracy: 0.6667
Epoch 5/100
1/1 [==============================] - 0s 14ms/step - loss: 0.6873 - accuracy: 1.0000
Epoch 6/100
1/1 [==============================] - 0s 144ms/step - loss: 0.6869 - accuracy: 1.0000
Epoch 7/100
1/1 [==============================] - 0s 12ms/step - loss: 0.6865 - accuracy: 1.0000
Epoch 8/100
1/1 [==============================] - 0s 21ms/step - loss: 0.6862 - accuracy: 1.0000
Epoch 9/100
1/1 [==============================] - 0s 23ms/step - loss: 0.6858 - accuracy: 1.0000
Epoch 10/100
1/1 [==============================] - 0s 17ms/step - loss: 0.6854 - accuracy: 1.0000
Epoch 11/100
1/1 [==============================] - 0s 22ms/step - loss: 0.6849 - accuracy: 1.0000
Epoch 12/100
1/1 [==============================] - 0s 15ms/step - loss: 0.6845 - accuracy: 1.0000
Epoch 13/100
1/1 [==============================] - 0s 42ms/step - loss: 0.6841 - accuracy: 1.0000
Epoch 14/100
1/1 [==============================] - 0s 267ms/step - loss: 0.6836 - accuracy: 1.0000
Epoch 15/100
1/1 [==============================] - 0s 10ms/step - loss: 0.6832 - accuracy: 1.0000
Epoch 16/100
1/1 [==============================] - 0s 19ms/step - loss: 0.6827 - accuracy: 1.0000
Epoch 17/100
1/1 [==============================] - 0s 18ms/step - loss: 0.6823 - accuracy: 1.0000
Epoch 18/100
1/1 [==============================] - 0s 14ms/step - loss: 0.6818 - accuracy: 1.0000
Epoch 19/100
1/1 [==============================] - 0s 23ms/step - loss: 0.6814 - accuracy: 1.0000
Epoch 20/100
1/1 [==============================] - 0s 12ms/step - loss: 0.6809 - accuracy: 1.0000
Epoch 21/100
1/1 [==============================] - 0s 71ms/step - loss: 0.6804 - accuracy: 1.0000
Epoch 22/100
1/1 [==============================] - 0s 23ms/step - loss: 0.6799 - accuracy: 1.0000
Epoch 23/100
1/1 [==============================] - 0s 19ms/step - loss: 0.6794 - accuracy: 1.0000
Epoch 24/100
1/1 [==============================] - 0s 26ms/step - loss: 0.6789 - accuracy: 1.0000
Epoch 25/100
1/1 [==============================] - 0s 29ms/step - loss: 0.6784 - accuracy: 1.0000
Epoch 26/100
1/1 [==============================] - 0s 35ms/step - loss: 0.6781 - accuracy: 1.0000
Epoch 27/100
1/1 [==============================] - 0s 147ms/step - loss: 0.6774 - accuracy: 1.0000
Epoch 28/100
1/1 [==============================] - 0s 12ms/step - loss: 0.6769 - accuracy: 1.0000
Epoch 29/100
1/1 [==============================] - 0s 14ms/step - loss: 0.6764 - accuracy: 1.0000
Epoch 30/100
1/1 [==============================] - 0s 20ms/step - loss: 0.6759 - accuracy: 1.0000
Epoch 31/100
1/1 [==============================] - 0s 14ms/step - loss: 0.6754 - accuracy: 1.0000
Epoch 32/100
1/1 [==============================] - 0s 11ms/step - loss: 0.6749 - accuracy: 1.0000
Epoch 33/100
1/1 [==============================] - 0s 16ms/step - loss: 0.6744 - accuracy: 1.0000
Epoch 34/100
1/1 [==============================] - 0s 32ms/step - loss: 0.6738 - accuracy: 1.0000
Epoch 35/100
1/1 [==============================] - 0s 67ms/step - loss: 0.6733 - accuracy: 1.0000
Epoch 36/100
1/1 [==============================] - 0s 17ms/step - loss: 0.6728 - accuracy: 1.0000
Epoch 37/100
1/1 [==============================] - 0s 20ms/step - loss: 0.6722 - accuracy: 1.0000
Epoch 38/100
1/1 [==============================] - 0s 40ms/step - loss: 0.6717 - accuracy: 1.0000
Epoch 39/100
1/1 [==============================] - 0s 38ms/step - loss: 0.6711 - accuracy: 1.0000
Epoch 40/100
1/1 [==============================] - 0s 31ms/step - loss: 0.6705 - accuracy: 1.0000
Epoch 41/100
1/1 [==============================] - 0s 11ms/step - loss: 0.6700 - accuracy: 1.0000
Epoch 42/100
1/1 [==============================] - 0s 15ms/step - loss: 0.6694 - accuracy: 1.0000
Epoch 43/100
1/1 [==============================] - 0s 17ms/step - loss: 0.6688 - accuracy: 1.0000
Epoch 44/100
1/1 [==============================] - 0s 19ms/step - loss: 0.6682 - accuracy: 1.0000
Epoch 45/100
1/1 [==============================] - 0s 16ms/step - loss: 0.6676 - accuracy: 1.0000
Epoch 46/100
1/1 [==============================] - 0s 142ms/step - loss: 0.6670 - accuracy: 1.0000
Epoch 47/100
1/1 [==============================] - 0s 20ms/step - loss: 0.6664 - accuracy: 1.0000
Epoch 48/100
1/1 [==============================] - 0s 22ms/step - loss: 0.6657 - accuracy: 1.0000
Epoch 49/100
1/1 [==============================] - 0s 29ms/step - loss: 0.6651 - accuracy: 1.0000
Epoch 50/100
1/1 [==============================] - 0s 147ms/step - loss: 0.6644 - accuracy: 1.0000
Epoch 51/100
1/1 [==============================] - 0s 39ms/step - loss: 0.6638 - accuracy: 1.0000
Epoch 52/100
1/1 [==============================] - 0s 82ms/step - loss: 0.6631 - accuracy: 1.0000
Epoch 53/100
1/1 [==============================] - 0s 23ms/step - loss: 0.6625 - accuracy: 1.0000
Epoch 54/100
1/1 [==============================] - 0s 28ms/step - loss: 0.6618 - accuracy: 1.0000
Epoch 55/100
1/1 [==============================] - 0s 22ms/step - loss: 0.6611 - accuracy: 1.0000
Epoch 56/100
1/1 [==============================] - 0s 159ms/step - loss: 0.6604 - accuracy: 1.0000
Epoch 57/100
1/1 [==============================] - 0s 20ms/step - loss: 0.6597 - accuracy: 1.0000
Epoch 58/100
1/1 [==============================] - 0s 23ms/step - loss: 0.6590 - accuracy: 1.0000
Epoch 59/100
1/1 [==============================] - 0s 55ms/step - loss: 0.6583 - accuracy: 1.0000
Epoch 60/100
1/1 [==============================] - 0s 45ms/step - loss: 0.6576 - accuracy: 1.0000
Epoch 61/100
1/1 [==============================] - 0s 17ms/step - loss: 0.6568 - accuracy: 1.0000
Epoch 62/100
1/1 [==============================] - 0s 37ms/step - loss: 0.6561 - accuracy: 1.0000
Epoch 63/100
1/1 [==============================] - 0s 76ms/step - loss: 0.6554 - accuracy: 1.0000
Epoch 64/100
1/1 [==============================] - 0s 64ms/step - loss: 0.6546 - accuracy: 1.0000
Epoch 65/100
1/1 [==============================] - 0s 19ms/step - loss: 0.6538 - accuracy: 1.0000
Epoch 66/100
1/1 [==============================] - 0s 18ms/step - loss: 0.6530 - accuracy: 1.0000
Epoch 67/100
1/1 [==============================] - 0s 19ms/step - loss: 0.6522 - accuracy: 1.0000
Epoch 68/100
1/1 [==============================] - 0s 21ms/step - loss: 0.6514 - accuracy: 1.0000
Epoch 69/100
1/1 [==============================] - 0s 145ms/step - loss: 0.6506 - accuracy: 1.0000
Epoch 70/100
1/1 [==============================] - 0s 49ms/step - loss: 0.6501 - accuracy: 1.0000
Epoch 71/100
1/1 [==============================] - 0s 19ms/step - loss: 0.6491 - accuracy: 1.0000
Epoch 72/100
1/1 [==============================] - 0s 67ms/step - loss: 0.6483 - accuracy: 1.0000
Epoch 73/100
1/1 [==============================] - 0s 32ms/step - loss: 0.6475 - accuracy: 1.0000
Epoch 74/100
1/1 [==============================] - 0s 28ms/step - loss: 0.6467 - accuracy: 1.0000
Epoch 75/100
1/1 [==============================] - 0s 17ms/step - loss: 0.6459 - accuracy: 1.0000
Epoch 76/100
1/1 [==============================] - 0s 24ms/step - loss: 0.6451 - accuracy: 1.0000
Epoch 77/100
1/1 [==============================] - 0s 186ms/step - loss: 0.6443 - accuracy: 1.0000
Epoch 78/100
1/1 [==============================] - 0s 70ms/step - loss: 0.6435 - accuracy: 1.0000
Epoch 79/100
1/1 [==============================] - 0s 20ms/step - loss: 0.6426 - accuracy: 1.0000
Epoch 80/100
1/1 [==============================] - 0s 25ms/step - loss: 0.6418 - accuracy: 1.0000
Epoch 81/100
1/1 [==============================] - 0s 14ms/step - loss: 0.6409 - accuracy: 1.0000
Epoch 82/100
1/1 [==============================] - 0s 13ms/step - loss: 0.6400 - accuracy: 1.0000
Epoch 83/100
1/1 [==============================] - 0s 134ms/step - loss: 0.6391 - accuracy: 1.0000
Epoch 84/100
1/1 [==============================] - 0s 21ms/step - loss: 0.6383 - accuracy: 1.0000
Epoch 85/100
1/1 [==============================] - 0s 16ms/step - loss: 0.6374 - accuracy: 1.0000
Epoch 86/100
1/1 [==============================] - 0s 22ms/step - loss: 0.6364 - accuracy: 1.0000
Epoch 87/100
1/1 [==============================] - 0s 12ms/step - loss: 0.6355 - accuracy: 1.0000
Epoch 88/100
1/1 [==============================] - 0s 84ms/step - loss: 0.6346 - accuracy: 1.0000
Epoch 89/100
1/1 [==============================] - 0s 33ms/step - loss: 0.6337 - accuracy: 1.0000
Epoch 90/100
1/1 [==============================] - 0s 25ms/step - loss: 0.6327 - accuracy: 1.0000
Epoch 91/100
1/1 [==============================] - 0s 15ms/step - loss: 0.6318 - accuracy: 1.0000
Epoch 92/100
1/1 [==============================] - 0s 12ms/step - loss: 0.6308 - accuracy: 1.0000
Epoch 93/100
1/1 [==============================] - 0s 15ms/step - loss: 0.6298 - accuracy: 1.0000
Epoch 94/100
1/1 [==============================] - 0s 268ms/step - loss: 0.6288 - accuracy: 1.0000
Epoch 95/100
1/1 [==============================] - 0s 11ms/step - loss: 0.6278 - accuracy: 1.0000
Epoch 96/100
1/1 [==============================] - 0s 13ms/step - loss: 0.6268 - accuracy: 1.0000
Epoch 97/100
1/1 [==============================] - 0s 21ms/step - loss: 0.6261 - accuracy: 1.0000
Epoch 98/100
1/1 [==============================] - 0s 21ms/step - loss: 0.6248 - accuracy: 1.0000
Epoch 99/100
1/1 [==============================] - 0s 144ms/step - loss: 0.6239 - accuracy: 1.0000
Epoch 100/100
1/1 [==============================] - 0s 40ms/step - loss: 0.6229 - accuracy: 1.0000

In [16]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

1/1 - 1s - loss: 0.7926 - accuracy: 0.0000e+00 - 620ms/epoch - 620ms/step
Loss: 0.7926169633865356, Accuracy: 0.0

In [32]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")